@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: 'Inter', sans-serif; */
}

.form-container {
   width: 600px;
   /* min-height: calc(100vh - 2rem); */
   margin: 1rem auto;
   box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
   padding: 1rem 2rem;
   background-color: #fff;
   /* height: calc(100%); */
}
/* 
.form-item{
    width: 100%;
    padding: 0.5rem;
    background-color: #f1f5ff;
    margin-bottom: 1rem;
}


.form-item .title{
    display: block;
    width: 100%;
    color: #2c3345;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-item .form-input{
    display: flex;
    justify-content: space-between
}

.form-input .input{
    width: 100%;
}

.form-item .form-input input{
    width: 100%;
    font-size: 1em;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: block;
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    outline: 0;
}

.form-item .form-input input:hover, .form-item .form-input input:focus{
    border-color: rgba(46,105,255,.5);
    box-shadow: 0 0 0 2px rgb(46 105 255 / 25%);
}

.form-item .form-input .placeholder{
    display: block;
    font-size: .75rem;
    color: #57647e;
    margin-top: 0.75rem;
}

.form-item.active{
    background-color: #f1f5ff;
}


.form-item .form-input select{
    height: 28px;
    border-radius: 4px;
}

#ram{
    background-color: red;
    width: 234px;
    height: 2.5rem;
    pad: 10px;
    text-align: center;
}

.button{
    text-align: right;
    margin-right: 40px;
    margin-top: 40px;
    background-color: #2c3345;
}

.button input{
    height: 2.1rem;
    width: 100px;
    border-radius: 10px;
    color:rgb(0, 0, 0);
    font-size: 14px;
    background-color:#04AA6D;
    border: none;
}

.button input:hover{
    background-color: #24cd8fdd;
} */

.form-item {
   background-color: #f1f5ff;
   padding: 0.5rem;
}

.title {
   margin-bottom: 0.5rem;
}

.input {
   width: 100%;
   font-size: 0.875em;
   border-radius: 4px;
   border-width: 1px;
   border-style: solid;
   display: block;
   height: 2.5rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   outline: 0;
   /* font-weight: 100; */
}

.input:hover,
.input:focus {
   border-color: rgba(46, 105, 255, 0.5);
   box-shadow: 0 0 0 2px rgb(46 105 255 / 25%);
}

.errorMsg,
::placeholder {
   display: block;
   font-size: 0.75rem;
   font-size: 0.875rem;
   color: #57647e;
   margin-top: 0.75rem;
}

.errorMsg{
   display: none;
}

.two-column {
   display: flex;
   justify-content: space-between;
}
.add-input {
   /* width: calc(calc(100% - 3rem)/3); */
}

.contact {
   display: flex;
   justify-content: space-between;
}

.col-1,
.col-2 {
   width: calc(50% - 0.5rem);
}

.radio {
   margin-right: 0.5rem;
   /* outline-color: #04AA6D; */
}

.radio + span {
   margin-right: 4rem;
   padding-left: 0;
}

input[type="date"] {
   font-size: 1rem;
}

input[type="submit"],
input[type="reset"] {
   color: #fff;
   background-color: #0d6efd;
   border-color: #0d6efd;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
   background-color: #0b5ed7;
}

.placeholder {
   display: block;
   font-size: 0.75rem;
   color: #57647e;
}

.form {
   background-color: #2c3345;
   /* height: 650px; */
   height: calc(100% - 3rem);
   overflow-y: scroll;

   display: flex;
   align-items: center;
}

.form::-webkit-scrollbar {
   display: none;
}

.form-title-bar {
   text-align: center;
   height: 2.5rem;
}
.form-title {
   /* padding-left: 3rem; */
   font-size: 1.375rem;
   /* font-weight: 400; */
}

.invalid {
   color: red;
   border-color: red;
}

input:disabled{
   background-color: #357fef;
   cursor: not-allowed;
}