*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
}

.search-wrapper{
    height: 100vh;
    width: 100%;
}

.individual-student-search-section{
    height: 150px;
    width: auto;
    padding: 1rem;
    background-color: snow;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

.searchpannel{
    margin: 20px auto;
    width: 400px;
    display: flex;
    /* justify-content: space-between; */
}

.searchbox{
    /* height: 33px; */
   /* background-color: antiquewhite; */
}

 .searchByFaculty p{
    text-align: center;
    padding-top: 30px;
    color:red;
 }

 .optionpannel{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
 }

 span{
    padding-right: 10px;
    padding-left: 30px;
    font-size: 18px;
    color: rgb(61, 59, 59);
 }

 select{
    height: 25px;
 }

 .searchByFaculty{
    margin-top: 1rem;
    padding: 1.5rem;
 }

 .department, .yearofjoining{
    display: flex;
    align-items: center;
 }