*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* img{
    
    height:30px;
    padding-left: 270px;
    padding-top: 0px;    
    
} */

h2{
    text-align: center;
}

.search-wrapper{
    /* text-align: center; */
    height: 100vh;
    width: 100%;
    /* background-color:rgb(245, 239, 239); */
    /* background-color: gray; */
}

.individual-student-search-section{
    height: 150px;
    width: auto;
    padding: 1rem;
    background-color: snow;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
    /* border: 1px solid red; */
    /* background-color: rgb(214, 211, 211); */
    /* box-shadow: 0px 0px 4px 2px red; */
}

.searchpannel{
    margin: 20px auto;
    width: 400px;
    display: flex;
    /* justify-content: space-between; */
}

.searchbox{
    /* height: 33px; */
   /* background-color: antiquewhite; */
}

/* .searchByFaculty input{
    height: 28px;
    color: #444;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid orange;
    
}

.button{
    padding-left: 10px;
    text-align: center;
 } */

/* .button a{
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid orange;
    display: inline-block;
    padding: 5px 15px;  
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
 }

 .button a:hover{
    box-shadow: 0 3px 8px #0003;
    background-color: bisque;

 } */

 .searchByFaculty p{
    text-align: center;
    padding-top: 30px;
    color:red;
 }

 .optionpannel{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
 }

 span{
    padding-right: 10px;
    padding-left: 30px;
    font-size: 18px;
    color: rgb(61, 59, 59);
 }

 select{
    height: 25px;
 }

 .searchByFaculty{
    margin-top: 1rem;
    padding: 1.5rem;
    /* background-color: aquamarine; */

    /* background-color: snow; */
    /* box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5); */
 }

 .department, .yearofjoining{
    display: flex;
    align-items: center;
 }